// variable


// common
* {
  box-sizing: border-box;
}

html {
  overflow: auto;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

// media query
@import "screen736.scss";
@import "screen1024.scss";
